<app-loading *ngIf="loading" class="mt-5"></app-loading>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artista.images | noimage" alt="foto-artista" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{ artista.name }}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la página del artista
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>
    </div>
</div>

<div class="row m-5" *ngIf="!loading">
    <div class="col">
        <table class="table table-dark">
            <thead>
                <th>Foto</th>
                <th>Album</th>
                <th>Cancion</th>
                <th>Vista previa</th>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td>
                        <img [src]="track.album.images | noimage" class="img-thumb" alt="foto-album ">
                    </td>
                    <td>{{track.album.name}}</td>
                    <td>{{track.name}}</td>
                    <td>
                        <!-- <audio [src]="track.preview_url" controls></audio> -->
                        <iframe [src]="track.id | domseguro: trackURL" 
                                width="300" 
                                height="80" 
                                frameborder="0"
                                allowtransparency="true" 
                                allow="encrypted-media"></iframe>
                               
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>